.group {
  margin-left: 77px;
  padding-top: 26px;
  padding-bottom: 32px;
  max-width: 400px;
}
h1,
.hero--p {
  margin-left: 36px;
  color: #222222;
}
h1 {
  font-size: 36px;
  font-weight: 600;
  line-height: 110%;
}

.hero--p {
  padding-top: 16px;
  font-weight: 300;
  width: 320px;
}
